<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>capital</key>
		<string>Montgomery</string>
		<key>capitalhood</key>
		<integer>1846</integer>
		<key>name</key>
		<string>Alabama</string>
		<key>population</key>
		<string>200,127</string>
		<key>statehood</key>
		<integer>1818</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Juneau</string>
		<key>capitalhood</key>
		<integer>1906</integer>
		<key>name</key>
		<string>Alaska</string>
		<key>population</key>
		<string>30,987</string>
		<key>statehood</key>
		<integer>1959</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Phoenix</string>
		<key>capitalhood</key>
		<integer>1889</integer>
		<key>name</key>
		<string>Arizona</string>
		<key>population</key>
		<string>1,512,986</string>
		<key>statehood</key>
		<integer>1912</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Little Rock</string>
		<key>capitalhood</key>
		<integer>1821</integer>
		<key>name</key>
		<string>Arkansas</string>
		<key>population</key>
		<string>204,370</string>
		<key>statehood</key>
		<integer>1836</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Sacramento</string>
		<key>capitalhood</key>
		<integer>1854</integer>
		<key>name</key>
		<string>California</string>
		<key>population</key>
		<string>467,343</string>
		<key>statehood</key>
		<integer>1850</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Denver</string>
		<key>capitalhood</key>
		<integer>1867</integer>
		<key>name</key>
		<string>Colorado</string>
		<key>population</key>
		<string>566,974</string>
		<key>statehood</key>
		<integer>1876</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Hartford</string>
		<key>capitalhood</key>
		<integer>1875</integer>
		<key>name</key>
		<string>Connecticut</string>
		<key>population</key>
		<string>124,397</string>
		<key>statehood</key>
		<integer>1788</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Dover</string>
		<key>capitalhood</key>
		<integer>1777</integer>
		<key>name</key>
		<string>Delaware</string>
		<key>population</key>
		<string>32,135</string>
		<key>statehood</key>
		<integer>1787</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Tallahassee</string>
		<key>capitalhood</key>
		<integer>1824</integer>
		<key>name</key>
		<string>Florida</string>
		<key>population</key>
		<string>168,979</string>
		<key>statehood</key>
		<integer>1845</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Atlanta</string>
		<key>capitalhood</key>
		<integer>1868</integer>
		<key>name</key>
		<string>Georgia</string>
		<key>population</key>
		<string>486,411</string>
		<key>statehood</key>
		<integer>1788</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Honolulu</string>
		<key>capitalhood</key>
		<integer>1845</integer>
		<key>name</key>
		<string>Hawaii</string>
		<key>population</key>
		<string>377,357</string>
		<key>statehood</key>
		<integer>1959</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Boise</string>
		<key>capitalhood</key>
		<integer>1865</integer>
		<key>name</key>
		<string>Idaho</string>
		<key>population</key>
		<string>201,287</string>
		<key>statehood</key>
		<integer>1890</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Springfield</string>
		<key>capitalhood</key>
		<integer>1837</integer>
		<key>name</key>
		<string>Illinois</string>
		<key>population</key>
		<string>116,482</string>
		<key>statehood</key>
		<integer>1818</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Indianapolis</string>
		<key>capitalhood</key>
		<integer>1825</integer>
		<key>name</key>
		<string>Indiana</string>
		<key>population</key>
		<string>791,926</string>
		<key>statehood</key>
		<integer>1816</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Des Moines</string>
		<key>capitalhood</key>
		<integer>1857</integer>
		<key>name</key>
		<string>Iowa</string>
		<key>population</key>
		<string>209,124</string>
		<key>statehood</key>
		<integer>1846</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Topeka</string>
		<key>capitalhood</key>
		<integer>1856</integer>
		<key>name</key>
		<string>Kansas</string>
		<key>population</key>
		<string>122,327</string>
		<key>statehood</key>
		<integer>1861</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Frankfort</string>
		<key>capitalhood</key>
		<integer>1792</integer>
		<key>name</key>
		<string>Kentucky</string>
		<key>population</key>
		<string>27,741</string>
		<key>statehood</key>
		<integer>1792</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Baton Rouge</string>
		<key>capitalhood</key>
		<integer>1880</integer>
		<key>name</key>
		<string>Louisiana</string>
		<key>population</key>
		<string>224,097</string>
		<key>statehood</key>
		<integer>1812</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Augusta</string>
		<key>capitalhood</key>
		<integer>1832</integer>
		<key>name</key>
		<string>Maine</string>
		<key>population</key>
		<string>18,560</string>
		<key>statehood</key>
		<integer>1820</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Annapolis</string>
		<key>capitalhood</key>
		<integer>1694</integer>
		<key>name</key>
		<string>Maryland</string>
		<key>population</key>
		<string>36,217</string>
		<key>statehood</key>
		<integer>1788</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Boston</string>
		<key>capitalhood</key>
		<integer>1630</integer>
		<key>name</key>
		<string>Massachusetts</string>
		<key>population</key>
		<string>590,763</string>
		<key>statehood</key>
		<integer>1788</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Lansing</string>
		<key>capitalhood</key>
		<integer>1847</integer>
		<key>name</key>
		<string>Michigan</string>
		<key>population</key>
		<string>119,128</string>
		<key>statehood</key>
		<integer>1837</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Saint Paul</string>
		<key>capitalhood</key>
		<integer>1849</integer>
		<key>name</key>
		<string>Minnesota</string>
		<key>population</key>
		<string>287,151</string>
		<key>statehood</key>
		<integer>1858</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Jackson</string>
		<key>capitalhood</key>
		<integer>1821</integer>
		<key>name</key>
		<string>Mississippi</string>
		<key>population</key>
		<string>184,256</string>
		<key>statehood</key>
		<integer>1817</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Jefferson City</string>
		<key>capitalhood</key>
		<integer>1826</integer>
		<key>name</key>
		<string>Missouri</string>
		<key>population</key>
		<string>39,636</string>
		<key>statehood</key>
		<integer>1821</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Helena</string>
		<key>capitalhood</key>
		<integer>1875</integer>
		<key>name</key>
		<string>Montana</string>
		<key>population</key>
		<string>25,780</string>
		<key>statehood</key>
		<integer>1889</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Lincoln</string>
		<key>capitalhood</key>
		<integer>1867</integer>
		<key>name</key>
		<string>Nebraska</string>
		<key>population</key>
		<string>225,581</string>
		<key>statehood</key>
		<integer>1867</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Carson City</string>
		<key>capitalhood</key>
		<integer>1861</integer>
		<key>name</key>
		<string>Nevada</string>
		<key>population</key>
		<string>57,701</string>
		<key>statehood</key>
		<integer>1864</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Concord</string>
		<key>capitalhood</key>
		<integer>1808</integer>
		<key>name</key>
		<string>New Hampshire</string>
		<key>population</key>
		<string>42,221</string>
		<key>statehood</key>
		<integer>1788</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Trenton</string>
		<key>capitalhood</key>
		<integer>1784</integer>
		<key>name</key>
		<string>New Jersey</string>
		<key>population</key>
		<string>84,639</string>
		<key>statehood</key>
		<integer>1787</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Santa Fe</string>
		<key>capitalhood</key>
		<integer>1610</integer>
		<key>name</key>
		<string>New Mexico</string>
		<key>population</key>
		<string>70,631</string>
		<key>statehood</key>
		<integer>1912</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Albany</string>
		<key>capitalhood</key>
		<integer>1797</integer>
		<key>name</key>
		<string>New York</string>
		<key>population</key>
		<string>95,993</string>
		<key>statehood</key>
		<integer>1788</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Raleigh</string>
		<key>capitalhood</key>
		<integer>1794</integer>
		<key>name</key>
		<string>North Carolina</string>
		<key>population</key>
		<string>380,173</string>
		<key>statehood</key>
		<integer>1789</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Bismarck</string>
		<key>capitalhood</key>
		<integer>1883</integer>
		<key>name</key>
		<string>North Dakota</string>
		<key>population</key>
		<string>55,533</string>
		<key>statehood</key>
		<integer>1889</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Columbus</string>
		<key>capitalhood</key>
		<integer>1816</integer>
		<key>name</key>
		<string>Ohio</string>
		<key>population</key>
		<string>733,203</string>
		<key>statehood</key>
		<integer>1803</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Oklahoma City</string>
		<key>capitalhood</key>
		<integer>1910</integer>
		<key>name</key>
		<string>Oklahoma</string>
		<key>population</key>
		<string>541,500</string>
		<key>statehood</key>
		<integer>1907</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Salem</string>
		<key>capitalhood</key>
		<integer>1855</integer>
		<key>name</key>
		<string>Oregon</string>
		<key>population</key>
		<string>149,305</string>
		<key>statehood</key>
		<integer>1859</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Harrisburg</string>
		<key>capitalhood</key>
		<integer>1812</integer>
		<key>name</key>
		<string>Pennsylvania</string>
		<key>population</key>
		<string>48,950</string>
		<key>statehood</key>
		<integer>1787</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Providence</string>
		<key>capitalhood</key>
		<integer>1900</integer>
		<key>name</key>
		<string>Rhode Island</string>
		<key>population</key>
		<string>176,862</string>
		<key>statehood</key>
		<integer>1790</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Columbia</string>
		<key>capitalhood</key>
		<integer>1786</integer>
		<key>name</key>
		<string>South Carolina</string>
		<key>population</key>
		<string>122,819</string>
		<key>statehood</key>
		<integer>1788</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Pierre</string>
		<key>capitalhood</key>
		<integer>1889</integer>
		<key>name</key>
		<string>South Dakota</string>
		<key>population</key>
		<string>13,876</string>
		<key>statehood</key>
		<integer>1889</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Nashville</string>
		<key>capitalhood</key>
		<integer>1826</integer>
		<key>name</key>
		<string>Tennessee</string>
		<key>population</key>
		<string>607,413</string>
		<key>statehood</key>
		<integer>1796</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Austin</string>
		<key>capitalhood</key>
		<integer>1839</integer>
		<key>name</key>
		<string>Texas</string>
		<key>population</key>
		<string>709,893</string>
		<key>statehood</key>
		<integer>1845</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Salt Lake City</string>
		<key>capitalhood</key>
		<integer>1858</integer>
		<key>name</key>
		<string>Utah</string>
		<key>population</key>
		<string>181,743</string>
		<key>statehood</key>
		<integer>1896</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Montpelier</string>
		<key>capitalhood</key>
		<integer>1805</integer>
		<key>name</key>
		<string>Vermont</string>
		<key>population</key>
		<string>8,035</string>
		<key>statehood</key>
		<integer>1791</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Richmond</string>
		<key>capitalhood</key>
		<integer>1780</integer>
		<key>name</key>
		<string>Virginia</string>
		<key>population</key>
		<string>195,251</string>
		<key>statehood</key>
		<integer>1788</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Olympia</string>
		<key>capitalhood</key>
		<integer>1853</integer>
		<key>name</key>
		<string>Washington</string>
		<key>population</key>
		<string>42,514</string>
		<key>statehood</key>
		<integer>1889</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Charleston</string>
		<key>capitalhood</key>
		<integer>1885</integer>
		<key>name</key>
		<string>West Virginia</string>
		<key>population</key>
		<string>52,700</string>
		<key>statehood</key>
		<integer>1863</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Madison</string>
		<key>capitalhood</key>
		<integer>1838</integer>
		<key>name</key>
		<string>Wisconsin</string>
		<key>population</key>
		<string>221,551</string>
		<key>statehood</key>
		<integer>1848</integer>
	</dict>
	<dict>
		<key>capital</key>
		<string>Cheyenne</string>
		<key>capitalhood</key>
		<integer>1869</integer>
		<key>name</key>
		<string>Wyoming</string>
		<key>population</key>
		<string>55,362</string>
		<key>statehood</key>
		<integer>1890</integer>
	</dict>
</array>
</plist>
